# .env.example

# Puerto API
PORT=3002

# --- BD CLOUD (opcional) ---
DATABASE_URL=
MONGODB_URI=
MONGODB_DB=megastore

# --- BD LOCAL por defecto ---
# Postgres local (docker-compose)
PGLOCAL_USER=postgres
PGLOCAL_PASSWORD=postgres
PGLOCAL_DB=megastore
PGLOCAL_HOST=localhost
PGLOCAL_PORT=5435

# Mongo local (docker-compose)
MONGOLOCAL_URI=mongodb://localhost:29018
MONGOLOCAL_DB=megastore
